.text-center {
    text-align: center;
}

.price-table td {
    color: white;
}

.price-table  table :not(:first-child), .price-table table th:not(:first-child) {
    border-left: solid 1px rgba(255, 255, 255, 0.15);
    border-right: solid 1px rgba(255, 255, 255, 0.15);
    text-align: right;
}

.price-table table {
    border-collapse: collapse;
    margin-bottom: 0;
}

.price-table p:first-of-type {
    margin-bottom: 0;
}

